.footer
  .footer__logo
    img(src='imgs/footer-logo.jpeg' alt='Tevana logo')
  ul.footer__nav
    // <li><a href="#">Get in touch with us</a></li>
  ul.footer__nav
    p Developed by:
    li
      a(href='https://github.com/gayathri-chennakrishnam-au16' target='_blank') Gayathri
    li
      a(href='https://github.com/divyansh-sharma-au16' target='_blank') Divyansh
    li
      a(href='#') Get in touch with us
  p.footer__copyright
    | &copy; by Team Tevana. All rights reserved.
