extends base

//- block append head
//-   script(src='https://js.stripe.com/v3/')

block content
    main.main
      .logo-video
        video(width='480' height='360' autoplay='' muted='' loop='')
          source(src='imgs/tevana-moving.mp4' type='video/mp4')
      .info
        p We were inspired by the pandemic to become self-sustaining, to many it means so much. So does it, to us.
          br
          | Hence we want you to own a part of who you are through our gardens, nourish them, grow with them and be proud of your plants.
          br
          | Take a stroll through our website, our gallery and garden packages, and if you come across a garden package you like then look no further.
          br
          | WE GOT YOU!😇
