extends base

block content
    main.main
        .card-container
            .card
                div(class='card__header')
                    div(class='card__picture')
                        div(class='card__picture-overlay') &nbsp;
                        img(src='t1-logo.jpeg' alt='Tour 1' class='card__picture-img')
                    h3.heading-tertirary
                        span The Veggies Garden
                div(class='card__details')
                    h4(class='card__sub-heading') Grow a beautiful Vegetable Garden at your home now!
                    p(class='card__text')
                        | Package includes five to seven vegetables of your choice.
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-map-pin')
                        span Bangalore
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-calendar')
                        span Currently Available
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-flag')
                        span Seasonal
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-user')
                        span 25 Pots
                div(class='card__footer')
                    p
                        span(class='card__footer-value') 1500 Rupess
                        span(class='card__footer-text') per package
                    p(class='card__ratings')
                        span(class='card__footer-value') 4.9
                        span(class='card__footer-text') rating (21)
                    a.btn.btn--green.btn--small(href='#') Details
            .card
                div(class='card__header')
                    div(class='card__picture')
                        div(class='card__picture-overlay') &nbsp;
                        img(src='t1-logo.jpeg' alt='Tour 1' class='card__picture-img')
                    h3.heading-tertirary
                        span The Zen Garden
                div(class='card__details')
                    h4(class='card__sub-heading') Experience the zen bliss within your home space.
                    p(class='card__text')
                        | Recommended by many high profile users for relaxation and soothing.
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-map-pin')
                        span Bangalore,Delhi
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-calendar')
                        span Currently Available
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-flag')
                        span Year-round
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-user')
                        span 30 Pots
                div(class='card__footer')
                    p
                        span(class='card__footer-value') 1850 Rupees
                        span(class='card__footer-text') per package
                    p(class='card__ratings')
                        span(class='card__footer-value') 4.8
                        span(class='card__footer-text') rating (120)
                    a.btn.btn--green.btn--small(href='#') Details
            .card
                div(class='card__header')
                    div(class='card__picture')
                        div(class='card__picture-overlay') &nbsp;
                        img(src='t1-logo.jpeg' alt='Tour 1' class='card__picture-img')
                    h3.heading-tertirary
                        span The Medi Garden
                div(class='card__details')
                    h4(class='card__sub-heading') Grow your favourite medicinal plants in your backyard.
                    p(class='card__text')
                        | Package includes common and exotic medicinal herbs.
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-map-pin')
                        span Delhi
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-calendar')
                        span Currently Available
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-flag')
                        span Year-round
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-user')
                        span 10 Pots
                div(class='card__footer')
                    p
                        span(class='card__footer-value') 1250 Rupees
                        span(class='card__footer-text') per package
                    p(class='card__ratings')
                        span(class='card__footer-value') 4.9
                        span(class='card__footer-text') rating (70)
                    a.btn.btn--green.btn--small(href='#') Details
            .card
                div(class='card__header')
                    div(class='card__picture')
                        div(class='card__picture-overlay') &nbsp;
                        img(src='t1-logo.jpeg' alt='Tour 1' class='card__picture-img')
                    h3.heading-tertirary
                        span The Patio Garden
                div(class='card__details')
                    h4(class='card__sub-heading') It's got that Patio going!
                    p(class='card__text')
                        | Add this beautiful patio garden to your house for that greener peace.
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-map-pin')
                    span Bangalore,Delhi
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-calendar')
                    span Currently Available
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-flag')
                    span Seasonal/Year-round
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-user')
                    span 25 Pots
                div(class='card__footer')
                    p
                        span(class='card__footer-value') 3000 Rupees
                        span(class='card__footer-text') per package
                    p(class='card__ratings')
                        span(class='card__footer-value') 4.8
                        span(class='card__footer-text') rating (31)
                    a.btn.btn--green.btn--small(href='#') Details
            .card
                div(class='card__header')
                    div(class='card__picture')
                        div(class='card__picture-overlay') &nbsp;
                        img(src='t1-logo.jpeg' alt='Tour 1' class='card__picture-img')
                    h3.heading-tertirary
                        span The Greenhouse Garden
                div(class='card__details')
                    h4(class='card__sub-heading') Are you ready to fall in love with your home garden?
                    p(class='card__text')
                        | We set up greenhouses based on space and design available.
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-map-pin')
                    span Bangalore,Delhi
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-calendar')
                    span Currently Available
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-flag')
                    span Year-round
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-user')
                    span 40 Pots
                div(class='card__footer')
                    p
                        span(class='card__footer-value') 5000 Rupees
                        span(class='card__footer-text') per package
                    p(class='card__ratings')
                        span(class='card__footer-value') 4.9
                        span(class='card__footer-text') rating (300)
                    a.btn.btn--green.btn--small(href='/tour.html') Details
            .card
                div(class='card__header')
                    div(class='card__picture')
                        div(class='card__picture-overlay') &nbsp;
                        img(src='t1-logo.jpeg' alt='Tour 1' class='card__picture-img')
                    h3.heading-tertirary
                        span The Succulent Garden
                div(class='card__details')
                    h4(class='card__sub-heading') There are so many varities of succelent you would be surprised.
                    p(class='card__text')
                        | These succulent plants are cute and add a beautiful aesthetics to your house.
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-map-pin')
                    span Bangalore,Delhi
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-calendar')
                    span Currently Available
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-flag')
                    span Year-round
                    div(class='card__data')
                        svg(class='card__icon')
                            use(xlink:href='img/icons.svg#icon-user')
                    span 35 pots
                div(class='card__footer')
                    p
                        span(class='card__footer-value') 2500 Rupees
                        span(class='card__footer-text') per package
                    p(class='card__ratings')
                        span(class='card__footer-value') 4.7
                        span(class='card__footer-text') rating (230)
                    a.btn.btn--green.btn--small(href='#') Details
